ul.star-container li {
    display: inline-block;
}

a.star {
    width: 37px;
    height: 35px;
    background-image: url(../images/star3.png);
    display: inline-block;
    background-position-y: -1px;
}

    a.star.active {
        background-image: url(../images/star1.png);
    }

    a.star:hover {
        background-image: url(../images/star2.png);
    }

    a.star:active, a.star:visited {
        background-image: url(../images/star1.png);
    }
